<!-- Main Wrapper -->
<div class="main-wrapper">
<app-admin-header></app-admin-header>	
<app-admin-menu></app-admin-menu>
    <!-- Page Wrapper -->
          <div class="page-wrapper">
              <div class="content container-fluid">
                <router-outlet></router-outlet>
              </div>			
          </div>
    <!-- /Page Wrapper -->
</div>
  <!-- /Main Wrapper -->


