<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
<div id="sidebar-menu" class="sidebar-menu">
<ul>
<li class="menu-title"> 
  <span>Main</span>
</li>
<li class="active"> 
  <a href="index_admin.html"><i class="fe fe-home"></i> <span>Dashboard</span></a>
</li>
<li class=""> 
  <a href="appointment-list.html"><i class="fe fe-layout"></i> <span>Appointments</span></a>
</li>
<li  class=""> 
  <a href="specialities.html"><i class="fe fe-users"></i> <span>Specialities</span></a>
</li>
<li  class=""> 
  <a href="doctor-list.html"><i class="fe fe-user-plus"></i> <span>Doctors</span></a>
</li>
<li  class=""> 
  <a href="patient-list.html"><i class="fe fe-user"></i> <span>Patients</span></a>
</li>
<li  class=""> 
  <a href="reviews.html"><i class="fe fe-star-o"></i> <span>Reviews</span></a>
</li>
<li  class=""> 
  <a href="transactions-list.html"><i class="fe fe-activity"></i> <span>Transactions</span></a>
</li>
<li   class=""> 
  <a href="settings.html"><i class="fe fe-vector"></i> <span>Settings</span></a>
</li>
<li class="submenu">
  <a href="#"><i class="fe fe-document"></i> <span> Reports</span> <span class="menu-arrow"></span></a>
  <ul style="display: none;">
    <li><a class="" href="invoice-report.html">Invoice Reports</a></li>
  </ul>
</li>
<li class="menu-title"> 
  <span>Pages</span>
</li>
<li class="submenu">
  <a href="#"><i class="fe fe-document"></i> <span> Blog </span> <span class="menu-arrow"></span></a>
  <ul style="display: none;">
    <li><a class="" href="blog.html"> Blog </a></li>
    <li><a class="" href="blog-details.html"> Blog Details</a></li>
    <li><a class="" href="add-blog.html"> Add Blog </a></li>
    <li><a class="" href="edit-blog.html"> Edit Blog </a></li>
  </ul>
</li>
<li class=""><a href="product-list.html"><i class="fe fe-layout"></i> <span>Product List</span></a></li>
<li class=""><a href="pharmacy-list.html"><i class="fe fe-vector"></i> <span>Pharmacy List</span></a></li>
<li  class=""> 
  <a href="profile.html"><i class="fe fe-user-plus"></i> <span>Profile</span></a>
</li>
<li class="submenu">
  <a href="#"><i class="fe fe-document"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
  <ul style="display: none;">
    <li><a  class="" href="login.html"> Login </a></li>
    <li><a  class="" href="register.html"> Register </a></li>
    <li><a  class="" href="forgot-password.html"> Forgot Password </a></li>
    <li><a  class="" href="lock-screen.html"> Lock Screen </a></li>
  </ul>
</li>
<li class="submenu">
  <a href="#"><i class="fe fe-warning"></i> <span> Error Pages </span> <span class="menu-arrow"></span></a>
  <ul style="display: none;">
    <li><a class="" href="error-404.html">404 Error </a></li>
    <li><a class="" href="error-500.html">500 Error </a></li>
  </ul>
</li>
<li  class=""> 
  <a href="blank-page.html"><i class="fe fe-file"></i> <span>Blank Page</span></a>
</li>
<li class="menu-title"> 
  <span>UI Interface</span>
</li>
<li class=""> 
  <a href="components.html"><i class="fe fe-vector"></i> <span>Components</span></a>
</li>
<li class="submenu">
  <a href="#"><i class="fe fe-layout"></i> <span> Forms </span> <span class="menu-arrow"></span></a>
  <ul style="display: none;">
    <li><a class="" href="form-basic-inputs.html">Basic Inputs </a></li>
    <li><a class="" href="form-input-groups.html">Input Groups </a></li>
                      <li><a class="" href="form-horizontal.html">Horizontal Form</a></li>
    <li><a class="" href="form-vertical.html"> Vertical Form </a></li>
    <li><a class="" href="form-mask.html"> Form Mask </a></li>
    <li><a class="" href="form-validation.html"> Form Validation </a></li>
  </ul>
</li>
<li class="submenu">
  <a href="#"><i class="fe fe-table"></i> <span> Tables </span> <span class="menu-arrow"></span></a>
  <ul style="display: none;">
    <li><a class="" href="tables-basic.html">Basic Tables </a></li>
    <li><a class="" href="data-tables.html">Data Table </a></li>
  </ul>
</li>
<li class="submenu">
  <a href="javascript:void(0);"><i class="fe fe-code"></i> <span>Multi Level</span> <span class="menu-arrow"></span></a>
  <ul style="display: none;">
    <li class="submenu">
      <a href="javascript:void(0);"> <span>Level 1</span> <span class="menu-arrow"></span></a>
      <ul style="display: none;">
        <li><a href="javascript:void(0);"><span>Level 2</span></a></li>
        <li class="submenu">
          <a href="javascript:void(0);"> <span> Level 2</span> <span class="menu-arrow"></span></a>
          <ul style="display: none;">
            <li><a href="javascript:void(0);">Level 3</a></li>
            <li><a href="javascript:void(0);">Level 3</a></li>
          </ul>
        </li>
        <li><a href="javascript:void(0);"> <span>Level 2</span></a></li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0);"> <span>Level 1</span></a>
    </li>
  </ul>
</li>
</ul>
</div>
  </div>
</div>
<!-- /Sidebar -->  